@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7c72cfd;
    color: black;
    /*color: white;*/
    font-weight: 500;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    /*#1B2029*/
}

main {
    min-width: 50vw;
    min-height: 50vh;
    
    
    
    
}

main h1 {
    color: #9c3005;
    /*color: #8880FE;*/
    font-size: 3rem;
    margin-bottom: 0.2rem;
    
    text-align: center;
}
main h3 {
    
    /*color: #8880FE;*/
    
    margin-bottom: 0.5rem;
    
    text-align: center;
}









main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label p {
    font-size: 1.1rem;
    margin-top: 1rem;
}

main form input {
    background: #ffffff;
    width: 300px;
    height: 40px;
    padding: 0 0.5rem;
    margin-top: 0.3rem;
    outline: none;
    color: rgb(31, 31, 31);
    font-size: 1rem;
    border-radius: 8px;
}



main form input[type="submit"] {
    cursor: pointer;
    width: 32%;
    margin-top: 2rem;
    border: none;
    border-radius: 32px;
    background: #b63400;
    /*background: #6C63FF;*/
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}
main form button {
    cursor: pointer;
    width: 32%;
    margin-top: 1.5rem;
    border: none;
    border-radius: 32px;
    background: #b63400;
    /*background: #6C63FF;*/
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    
}



#botao {
    cursor: pointer;
    width: 32%;
    margin-top: 1.5rem;
    border: none;
    border-radius: 32px;
    background: #b63400;
    /*background: #6C63FF;*/
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}






main form input[type="submit"]:hover {
    background: #9c3005;
   /* background: #5952d4;*/
}
main form button:hover {
    background: #9c3005;
   /* background: #5952d4;*/
}
#button:hover {
    background: #9c3005;
   /* background: #5952d4;*/
}





@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 280px) {
    
    main form input{
        width: 250px;
       
    }
}
